<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfish.mybatis.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.redfish.mybatis.entity.Address">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="aname" jdbcType="VARCHAR" property="aname" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, aname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.redfish.mybatis.entity.Address">
    insert into address (aid, aname)
    values (#{aid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.redfish.mybatis.entity.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="aname != null">
        aname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="aname != null">
        #{aname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.redfish.mybatis.entity.Address">
    update address
    <set>
      <if test="aname != null">
        aname = #{aname,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.redfish.mybatis.entity.Address">
    update address
    set aname = #{aname,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>